@model IEnumerable<alkemy_blog_challenge.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Alkemy Blog</h1>

<p class="text-right">
    <a asp-action="Create">Create new post</a>
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </th>
                <td class="text-right">
                    <div class="dropleft">
                        <button style="border: none; background-color: transparent; outline: none; " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    }

</table>
